{
    "app": {
        "name": "rest-sqlite-service",
        "port": "8080",
        "secret_key": "super_secret_key_123"
    },
    "database": {
        "name": "rest_db",
        "username": "user_db",
        "password": "pass_db",
        "host": "localhost",
        "port": 3306
    }
}